extends layout

block content
  h1= title
  form(id="frmProjectPage", method="post" action="")
    label(for="ProjectName") Project Name
    input(type="text", name="ProjectName", id="ProjectName", value="#{projectName}")
    input(type="Submit", value="#{buttonText}")
